

        <div class="affiliations row">
            <img class="f-right" src="{{assets_img}}parrot.jpg" alt="">

            <h1>Affiliations &amp; Memberships</h1>
            <h2>Nationally recognized professional organizations.</h2>
        </div>

    </div><!--/.content-->

    <div class="footer">

            {% include 'includes/partners.html' %}

            <div class="callUs">
                <a href="tel:808-866-0325">Give us a call 808-866-0325</a>
                <h2>All profits are donated to Maui 501c3 non-profit animal welfare organizations. </h2>
            </div>

            <ul class="footer-menu">
                {% include 'includes/footer_menu.html' %}
            </ul>
        </div><!--/.footer-->

        <div class="copyright">
            <p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
            <p class="f-right">This website was Made on Maui</p>
        </div><!--/.copyright-->

    </div><!--/.wrapper-->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="{{assets_js}}fonts.js"></script>
    <script type="text/javascript" src="{{assets_js}}jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{assets_js}}jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{assets_js}}jquery.modal.min.js"></script>
    <script type="text/javascript" src="{{assets_js}}jquery.labelauty.min.js"></script>
    <script type="text/javascript" src="{{assets_js}}script.js"></script>
</body>
</html>