<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{assets_css}}style.css">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo"></a>

            <h1>Give us a call  808-281-7075</h1>

            <nav id="primaryNav">
                <ul>
                    <li><a href="/services/">Services</a></li>
                    <li>
                        <a href="/about/">About us</a>
                        <ul>
                            <li><a href="#">Frequently asked questions</a></li>
                            <li><a href="#">Company history</a></li>
                            <li><a href="#">Service Agreement</a></li>
                        </ul>
                    </li>
                    <li><a href="/agreement/">Agreement</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>
        </div>
