<div class="footer-links">
    <ul class="slider">
        <li>
            <a href="#"><img src="{{assets_img}}cpps-psi.png" alt="Certified Pet Sitter - Pet Sitters International"></a>
        </li>
        <li>
            <a href="#"><img src="{{assets_img}}psi-background-check.jpg" alt="Pet Sitters International - Background Checked"></a>
        </li>
        <li>
            <a href="#"><img src="{{assets_img}}Red_Cross_Logo_Button.png" alt="Red Cross"></a>
        </li>
        <li>
            <a href="#"><img src="{{assets_img}}harf.jpg" alt="HARF"></a>
        </li>
        <li>
            <a href="#"><img src="{{assets_img}}MauiSPCALogo.jpg" alt="Maui SPCA"></a>
        </li>
    </ul>
    <p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>
</div>