<div class="footer-links">
    <div class="slider">
        <a href="#"><img src="{{assets_img}}harf.jpg" alt=""></a>
        <a href="#"><img src="{{assets_img}}MauiSPCALogo.jpg" alt=""></a>
        <a href="#"><img src="{{assets_img}}pettech-certified.jpg" alt=""></a>
        <a href="#"><img src="{{assets_img}}psi_member_logo_color.jpg" alt=""></a>
        <a href="#"><img src="{{assets_img}}psi-background-check.jpg" alt=""></a>
    </div>
    <p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>
</div>