<div class="footer-links">
    <div class="slider">
        <a href="#"><img src="{{assets_img}}f1.jpg" width="167" height="80" alt=""></a>
        <a href="#"><img src="{{assets_img}}f2.jpg" width="99" height="80" alt=""></a>
        <a href="#"><img src="{{assets_img}}f3.jpg" width="280" height="80" alt=""></a>
        <a href="#"><img src="{{assets_img}}f4.jpg" width="156" height="80" alt=""></a>
        <a href="#"><img src="{{assets_img}}f5.jpg" width="148" height="80" alt=""></a>
    </div>
    <p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>
</div>