<div class="petForm">
    <h2>__COUNT__ pet</h2>
    <div class="half-split">
        <div class="field">
            <span class="labelWrapper">
                <label>NAME</label>
            </span>
            <input type="text" name="pet_name[]" class="required">
        </div>

        <div class="field">
            <span class="labelWrapper">
                <label>TYPE</label>
            </span>
            <select name="type[]">
                <option value="-1">Type</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div><!--/.half-split-->

    <div class="half-split">
        <div class="field">
            <span class="labelWrapper">
                <label>AGE</label>
            </span>
            <input type="text" name="age[]" class="required">
        </div>

        <div class="field">
            <span class="labelWrapper">
                <label>GENDER</label>
            </span>
            <select name="gender[]">
                <option value="male">M</option>
                <option value="female">F</option>
            </select>
        </div>
    </div><!--/.half-split-->


    <label class="label"><input name="spayed[]" type="checkbox"/>Has your pet been Spayed / Neutered?</label>

    <div class="field">
        <span class="labelWrapper">
            <label>DESCRIPTION</label>
            <p>Please provide a brief description of your pet.</p>
        </span>
        <textarea name="description[]" class="field field-lg required"></textarea>
    </div>

    <div class="field">
        <span class="labelWrapper">
            <label>FEEDING</label>
            <p>What are your pet’s feeding and supplement instructions?</p>
        </span>
        <textarea name="feeding[]" class="field field-lg required"></textarea>
    </div>

    <div class="field">
        <span class="labelWrapper">
            <label>ACTIVITY</label>
            <p>What are your pet’s activity instructions for walking, playing, grooming, etc?</p>
        </span>
        <textarea name="activity[]" class="field field-lg required"></textarea>
    </div>

</div>