<div class="petForm">
    <h2>__COUNT__ pet</h2>
    <div class="half">
        <div class="fieldname"><span>NAME</span></div>
        <input type="text" name="pet_name[]" class="field">
    </div>
    <div class="half">
        <div class="fieldname"><span>TYPE</span></div>
        <select name="type[]" class="field">
            <option>Select</option>
        </select>
    </div>
    <div class="half">
        <div class="fieldname"><span>AGE</span></div>
        <input type="text" name="age[]" class="field">
    </div>
    <div class="half">
        <div class="fieldname"><span>GENDER</span></div>
        <select name="gender[]" class="field">
            <option>Select</option>
        </select>
    </div>
    <div class="amPmCheckbox">
            <input id="spayed" name="spayed[]" type="checkbox"/>
            <label class="label" for="spayed"> Has your pet been Spayed / Neutered?</label>
    </div>
    <div class="fieldname">
        <span>DESCRIPTION</span>
        <p class="area_desc">Please provide a brief description of your pet.<p>
    </div>
    <textarea name="description" class="field field-md"></textarea>
    <div class="fieldname">
        <span>FEEDING</span>
        <p class="area_desc">What are your pet’s feding and supplement instructions?<p>
    </div>
    <textarea name="feeding[]" class="field field-md"></textarea>
    <div class="fieldname">
        <span>ACTIVITY</span>
        <p class="area_desc">What are your pet’s activity intrucitons for walking, playing, grooming, etc?<p>
    </div>
    <textarea name="activity[]" class="field field-md"></textarea>
</div>