<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{assets_css}}style.css">
    <script type="text/javascript" src="{{assets_js}}fonts.js"></script>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="/" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				<li><a href="services.html">Services</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="articles.html">Articles</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div class="pagetitle">
			<h1>about us</h1>
		</div>

		<div class="separator"></div>

		<div class="content">

				<ul class="mini-menu">
					<li><span>About us</span></li>
					<li><a href="">Frequently asked questions</a></li>
					<li><a href="">Company history</a></li>
					<li><a href="">Service Agreement</a></li>
				</ul>

			<img class="f-right" src="{{assets_img}}brown_dog.jpg" alt="">

			<h1>About PetPros Maui</h1>
			<h2>All PetPros are Certified Animal Lovers</h2>
			<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>


			<h2>Aloha, my name is Whitney White</h2>
			<p>Growing up, I practically lived on a horse in Olomana in addition to being raised with dogs, cats, rabbits, ducks… pretty much you name it!  Animals are my passion and my lifeline.</p>

			<img class="f-left" src="{{assets_img}}whitney.jpg">
			<p>Our Farm above is in Olinda…. Some may remember me as the owner of Starlight Farms “petting zoo”  or as current owner /operat	or of Interrquest Detection Canines of Hawaii.  I am on the Board of Directors of  Hawaii Animal Rescue Foundation (HARF) and Co-founder and Board Member of SPCA Maui… alas the passion and lifeline. <br><br> I, along with my PetPros team love, respect and passionately enjoy animals… often more than people!  But what sets us apart from others who also have that profile, is that we put safety and health of your pet as the top priority in our work as pet and home sitters.</p>

			<h2>All of our PetPros are Pet Professionals</h2>
			<p>We are professionals in the pet industry including vet technicians, dog trainers, livestock specialists and working dog handlers.</p>

			<dl>
				<dt>We are certified with Pet Tech first aid and CPR training</dt>
				<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>

				<dt>We have all passed criminal background checks</dt>
				<dd>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</dd>

				<dt>We are bonded and insured</dt>
				<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>

				<dt>We all have a love and compassion for pets well beyond the norm!</dt>
				<dd>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</dd>
			</dl>

			<h2>Feel confident that your pet is in caring, honest and professional hands.</h2>
			<img class="img-full" src="{{assets_img}}animals.jpg">

			<img class="f-left puppy" src="{{assets_img}}parrot_left.jpg" alt="">

			<h1>Affiliations &amp; Memberships</h1>
			<h2>Nationally recognized professional organizations.</h2>
			<p>PetPros Maui’s professional pet services include animals of all types from armadillos to zebras. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>


		</div>


		<div class="footer">
			<div class="footer-links">
				<a href="#"><img src="{{assets_img}}f1.jpg" width="167" height="80" alt=""></a>
				<a href="#"><img src="{{assets_img}}f2.jpg" width="99" height="80" alt=""></a>
				<a href="#"><img src="{{assets_img}}f3.jpg" width="280" height="80" alt=""></a>
				<a href="#"><img src="{{assets_img}}f4.jpg" width="156" height="80" alt=""></a>
				<a href="#"><img src="{{assets_img}}f5.jpg" width="148" height="80" alt=""></a>

				<p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>
			</div>

			<ul class="footer-menu">
				<li><a href="#">Services</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>

</body>
</html>