{% include 'includes/header.html' %}
		<div class="pagetitle">
			<h1>{{name}}</h1>
		</div>

		<div class="content">
			<img class="f-right" src="{{assets_img}}dog_cat.jpg" alt="">

            {% if form_data.success %}
            <h1>Woof Woof Mahalo!</h1>

            <h2>Thank you! We will respond to you as soon as possible. Woof!</h2>
            {% else %}

            <h1>{{heading}}</h1>
            <h2>{{sub_heading}}</h2>
            <p>{{intro}}</p>

			<div class="contact-container">
				<form action="/agreement/" method="POST" id="agreementForm">
					<h1>1. Your info</h1>

					<div class="field">
						<span class="labelWrapper">
							<label>FULL NAME</label>
						</span>
						<input type="text" name="full_name" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>PHONE</label>
						</span>
						<input type="text" name="phone" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>2nd PHONE</label>
						</span>
						<input type="text" name="phone_second" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>EMAIL</label>
						</span>
						<input type="text" name="email" class="required email">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>STREET ADDRESS</label>
						</span>
						<input type="text" name="street_address" class="required">
					</div>

					<div class="half-split">
						<div class="field">
							<span class="labelWrapper">
								<label>CITY</label>
							</span>
							<input type="text" name="city" class="required">
						</div>

						<div class="field">
							<span class="labelWrapper">
								<label>ZIP</label>
							</span>
							<input type="text" name="zip" class="required">
						</div>
					</div><!--/.half-split-->

					<h1>2. Billing info</h1>

					<div class="amPmCheckbox">
						<input name="check" id="check" type="checkbox"/>
						<label class="label js-addressSync" for="check"> Same address as above?</label>
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>STREET ADDRESS</label>
						</span>
						<input type="text" name="billing_street_address" class="required">
					</div>

					<div class="half-split">
						<div class="field">
							<span class="labelWrapper">
								<label>CITY</label>
							</span>
							<input type="text" name="billing_city" class="required">
						</div>


						<div class="field">
							<span class="labelWrapper">
								<label>ZIP</label>
							</span>
							<input type="text" name="billing_zip" class="required">
						</div>
					</div>


					<h1>3. Status updates</h1>

					<p class="question">Would you like to receive updates on your pets’ health and happiness?</p>

					<div class="field">
						<span class="labelWrapper">
							<label>STATUS UPDATES</label>
						</span>
						<select name="status_updates" class="notEmpty">
							<option value="-1">Please select</option>
							<option value="Yes - Often">Yes - Often</option>
							<option value="Yes - Daily">Yes - Daily</option>
                            <option value="Yes - Occasionally">Yes - Occasionally</option>
                            <option value="Yes - For Emergencies">Yes - For Emergencies</option>
                            <option value="No, thank you">No, thank you</option>

                        </select>
					</div>

					<div class="statusWays">
						<div class="amPmCheckbox">
							<input id="status_mail" type="checkbox" name="status_mail" value="Yes"/>
							<label class="label" for="status_mail"> Email</label>
						</div>
						<div class="amPmCheckbox">
							<input id="status_phone" type="checkbox" name="status_phone" value="Yes"/>
							<label class="label" for="status_phone"> Phone</label>
						</div>
						<div class="amPmCheckbox">
							<input id="status_text" type="checkbox" name="status_text" value="Yes"/>
							<label class="label" for="status_text"> Text</label>
						</div>
					</div>

					<h1>4. Pet's info</h1>

					<div class="js-petTemplate">
						{% include 'includes/pet_box.html' %}
					</div>
					<div id="petsBoxWrapper"></div>

					<div class="petBoxMeta">
						<p class="question">Would you like to include another pet?</p>
						<a href="#" class="js-petAdd contact-btn-more">ADD PET</a>
					</div>

					<h1>5. Emergency info</h1>

					<div class="field">
						<span class="labelWrapper">
							<label>PRIMARY CONTACT</label>
						</span>
						<input type="text" name="emergency_contact" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>PHONE</label>
						</span>
						<input type="text" name="emergency_phone" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>SECOND CONTACT</label>
						</span>
						<input type="text" name="emergency_contact_second" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>PHONE</label>
						</span>
						<input type="text" name="emergency_phone_second" class="required">
					</div>


					<h1>6. Veterinary info</h1>

					<div class="field">
						<span class="labelWrapper">
							<label>VET'S NAME</label>
						</span>
						<input type="text" name="vets_name" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>PHONE</label>
						</span>
						<input type="text" name="vets_phone" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>ADDRESS</label>
						</span>
						<input type="text" name="vets_address" class="required">
					</div>

					<p class="question">Do I have your permission to take your pet(s) to this veterinarian if I deem it necessary and  am not able to contact you or your emergency contacts?</p>

					<div class="field">
						<span class="labelWrapper">
							<label>PERMISSION</label>
						</span>
						<select name="vet_permission" class="notEmpty">
							<option value="-1">Please select</option>
							<option value="No">No</option>
							<option value="Yes">Yes</option>
						</select>
					</div>

					<div class="formMeta">
						<label>
							<input name="terms_accepted" type="checkbox" />
							<label class="label terms">Accept <a href="/terms/" rel="modal:open">Terms and Conditions</a></label>
						</label>

						<button type="submit" class="contact-btn">SUBMIT</button>
					</div>

				</form>
			</div>
            {% endif %}
			<div class="fullImgWrapper">
				<img src="{{assets_img}}dogs_cats.jpg">
			</div>


{% include 'includes/footer.html' %}