<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="index.html" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				<li><a href="services.html">Services</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="articles.html">Articles</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div class="pagetitle">
			<h1>about us</h1>
		</div>
		
		<div class="separator"></div>

		<div class="content">
			<div class="text-left">
				<h1>Service Agreement</h1>
				<h2>All PetPros are Certified Animal Lovers</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			<img class="f-right puppy" src="../assets/img/dog_cat.jpg" alt="">
			<div class="contact-container">
				<form>
					<h1>1. Your info</h1>
					<div class="fieldname"><span>FULL NAME</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>2nd PHONE</span></div>
					<input type="text" class="field">
					<div class="alert">Please enter a valid email address</div>
					<div class="fieldname"><span>EMAIL</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>STREET ADDRESS</span></div>
					<input type="text" class="field">
					<div class="half">
						<div class="fieldname"><span>CITY</span></div>
						<input type="text" class="field">
					</div>
					<div class="half">
						<div class="fieldname"><span>ZIP</span></div>
						<input type="text" class="field">
					</div>
					<h1>2. Billing info</h1>
					<div class="amPmCheckbox">
						<input name="check" id="check" type="checkbox"/>
						<label class="label" for="check"> Same address as above?</label>
					</div>
					<div class="fieldname"><span>STREET ADDRESS</span></div>
					<input type="text" class="field">
					<div class="half">
						<div class="fieldname"><span>CITY</span></div>
						<input type="text" class="field">
					</div>
					<div class="half">
						<div class="fieldname"><span>ZIP</span></div>
						<input type="text" class="field">
					</div>
					
					<h1>3. Status updates</h1>
					
					<p class="question">Would you like to receive updates on your pets’ health and happiness?</p>
					<div class="fieldname"><span>STATUS UPDATES</span></div>
					<select class="field select-field">
						<option>Please Select</option>
					</select>
					<div class="center">
						<div class="amPmCheckbox">
							<input id="mail" type="checkbox"/>
							<label class="label" for="mail"> Email</label>
						</div>
						<div class="amPmCheckbox">
							<input id="phone" type="checkbox"/>
							<label class="label" for="phone"> Phone</label>
						</div>
						<div class="amPmCheckbox">
							<input id="text" type="checkbox"/>
							<label class="label" for="text"> Text</label>
						</div>
					</div>
					
					<h1>4. Pet's info</h1>
					<h2>First pet<h2>
					<div class="half">
						<div class="fieldname"><span>NAME</span></div>
						<input type="text" class="field">
					</div>
					<div class="half">
						<div class="fieldname"><span>TYPE</span></div>
						<select class="field">
							<option>Select</option>
						</select>
					</div>
					<div class="half">
						<div class="fieldname"><span>AGE</span></div>
						<input type="text" class="field">
					</div>
					<div class="half">
						<div class="fieldname"><span>GENDER</span></div>
						<select class="field">
							<option>Select</option>
						</select>
					</div>
					<div class="amPmCheckbox">
							<input id="spayed" type="checkbox"/>
							<label class="label" for="spayed"> Has your pet been Spayed / Neutered?</label>
					</div>
					<div class="fieldname">
						<span>DESCRIPTION</span>
						<p class="area_desc">Please provide a brief description of your pet.<p>
					</div>
					<textarea class="field field-md"></textarea>
					<div class="fieldname">
						<span>FEEDING</span>
						<p class="area_desc">What are your pet’s feding and supplement instructions?<p>
					</div>
					<textarea class="field field-md"></textarea>
					<div class="fieldname">
						<span>ACTIVITY</span>
						<p class="area_desc">What are your pet’s activity intrucitons for walking, playing, grooming, etc?<p>
					</div>
					<textarea class="field field-md"></textarea>
					<div class="blank"></div>
					<p class="question">Would you like to include another pet?</p>
					<button class="contact-btn-more">ADD PET</button>
					
					<div class="blank"></div>
					
					<h1>5. Emergency info</h1>
					<div class="fieldname"><span>PRIMARY CONTACT</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>2nd CONTACT</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					
					<h1>6. Veterinary info</h1>
					<div class="fieldname"><span>VET'S NAME</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>ADDRESS</span></div>
					<input type="text" class="field">
					<p class="question">Do I have your permission to take your pet(s) to this veterinarian if I deem it necessary and  am not able to contact you or your emergency contacts?</p>
					<div class="fieldname"><span>PERMISSION</span></div>
					<select class="field">
						<option>Select</option>
					</select>
					<div class="amPmCheckbox center_v">
							<input id="terms" type="checkbox"/>
							<label class="label" for="terms"> Accept Terms and Conditions</label>
							<input type="submit" class="contact-btn" value="SUBMIT">
					</div>
				</form>
			</div>
			<img src="../assets/img/dogs_cats.jpg" class="img-full">
		</div>
		

		<div class="footer">
			<div class="footer-links">
				<h1 class="large-call">Give us a call  808-281-7075</h1>
			</div>

			<ul class="footer-menu">
				<li><a href="#">Services</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>

</body>
</html>