{% include 'includes/header.html' %}

<div class="pagetitle">
    <h1>{{name}}</h1>
</div>

<div class="content">

    <ul class="mini-menu">
        <li><span>{{heading}}</span></li>
        {% for page in pages %}
        <li><a href="/articles/{{ page.name|lower|replace({' ': '-'}) }}/">{{page.name}}</a></li>
        {% endfor %}
    </ul>

    <img class="f-right" src="{{assets_img}}brown_dog.jpg" alt="{{article.title}}">

    <h1>{{article.heading}}</h1>
    <h2>{{article.sub_heading}}</h2>
    {{article.intro}}

    {{article.content_body}}

    {% include 'includes/footer_partners.html' %}