{% include 'includes/header.html' %}

		<div class="pagetitle">
			<h1>contact</h1>
		</div>

		<div class="content">

			<img class="f-right" src="{{assets_img}}dog_cat_head.jpg" alt="">


            {% if form_data.success %}
            <h1>Woof Woof Mahalo!</h1>

            <h2>Thank you! We will respond to you as soon as possible. Woof!</h2>
            {% else %}

            <h1>{{heading}}</h1>
            <h2>{{sub_heading}}</h2>
            <p>{{intro}}</p>

			<div class="contact-container">
				<form method="post" action="/contact/" id="contactForm">
                    <h1>Give us a woof!</h1>

                    <div class="field">
						<span class="labelWrapper">
							<label>FULL NAME</label>
						</span>
						<input type="text" name="full_name" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>PHONE</label>
						</span>
						<input type="text" name="phone" class="required">
					</div>
					<div class="field">
						<span class="labelWrapper">
							<label>EMAIL</label>
						</span>
						<input type="text" name="email" class="required email">
					</div>
					<div class="field">
						<span class="labelWrapper">
							<label>SERVICE AREA</label>
						</span>
						<input type="text" name="service_area" class="required">
					</div>

					<div class="field">
						<span class="labelWrapper">
							<label>DETAILS</label>
							<p>Please give us a brief description of the kind of TLC you are seeking for your pets!  Dates? Pets? Services?  Or give us a call!  &nbsp; 808-866-0325</p>
						</span>
						<textarea name="details" class="field field-lg required"></textarea>

					</div>


					<input type="submit" value="Submit" class="contact-btn">
				</form>
			</div>

            {% endif %}
			<div class="fullImgWrapper">
				<img src="{{assets_img}}animals-2.jpg" alt="">
			</div>

{% include 'includes/footer.html' %}