{% include 'includes/header.html' %}

		<div class="pagetitle">
			<h1>contact</h1>
		</div>

		<div class="content">
			<div class="text-left">
				<ul class="mini-menu">
					<li><span>Contact us</span></li>
					<li><a href="">Frequently asked questions</a></li>
					<li><a href="">Company history</a></li>
					<li><a href="">Service Agreement</a></li>
				</ul>

				<h1>Contact PetPros Maui</h1>
				<h2>All PetPros are Certified Animal Lovers</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			<img class="f-right puppy" src="{{assets_img}}dog_cat_head.jpg" alt="">
			<div class="contact-container">
				<form>
					<div class="fieldname"><span>FULL NAME</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					<div class="alert">Please enter a valid email address</div>
					<div class="fieldname"><span>EMAIL</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>SERVICE AREA</span></div>
					<input type="text" class="field">
					<div class="fieldname">
						<span>DETAILS</span>
						<p>Please give us a brief description of the kind of TLC you are seeking for you pets. Please include the dates, the names of your pets, and the services you would like.<p>
					</div>
					<textarea class="field field-lg"></textarea>
					<input type="submit" value="Submit" class="contact-btn">
				</form>
			</div>

			<img src="{{assets_img}}animals-2.jpg" class="img-full">

		</div>
{% include 'includes/footer.html' %}