<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/style.css">
    <script type="text/javascript" src="../assets/js/fonts.js"></script>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="index.html" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				<li><a href="services.html">Services</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="articles.html">Articles</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div class="pagetitle">
			<h1>about us</h1>
		</div>
		
		<div class="separator"></div>

		<div class="content">
			<div class="text-left">
				<ul class="mini-menu">
					<li><span>Contact us</span></li>
					<li><a href="">Frequently asked questions</a></li>
					<li><a href="">Company history</a></li>
					<li><a href="">Service Agreement</a></li>
				</ul>

				<h1>Contact PetPros Maui</h1>
				<h2>All PetPros are Certified Animal Lovers</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			<img class="f-right puppy" src="../assets/img/dog_cat_head.jpg" alt="">
			<div class="contact-container">
				<form>
					<div class="fieldname"><span>FULL NAME</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>PHONE</span></div>
					<input type="text" class="field">
					<div class="alert">Please enter a valid email address</div>
					<div class="fieldname"><span>EMAIL</span></div>
					<input type="text" class="field">
					<div class="fieldname"><span>SERVICE AREA</span></div>
					<input type="text" class="field">
					<div class="fieldname">
						<span>DETAILS</span>
						<p>Please give us a brief description of the kind of TLC you are seeking for you pets. Please include the dates, the names of your pets, and the services you would like.<p>
					</div>
					<textarea class="field field-lg"></textarea>
					<input type="submit" value="Submit" class="contact-btn">
				</form>
			</div>
			
			<img src="../assets/img/animals-2.jpg" class="img-full">
			
		</div>
		

		<div class="footer">
			<div class="footer-links">
				<h1 class="large-call">Give us a call  808-281-7075</h1>
			</div>

			<ul class="footer-menu">
				<li><a href="#">Services</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>

</body>
</html>