{% include 'includes/header.html' %}

	<div class="pagetitle">
		<h1>{{name}}</h1>
	</div>

	<div class="content">

		<img class="f-right" src="{{assets_img}}brown_dog.jpg" alt="">
		<h1>{{heading}}</h1>
		<h2>{{sub_heading}}</h2>
		<p>{{intro}}</p>


        <ul>
            <li>Are you licensed and bonded?</li>
            <li>Why choose a pet sitter over kenneling?</li>
            <li>What about using a neighbor or friend?  That certainly would be cheaper!</li>
            <li>Do you let dogs off leash at the dog park or beach?</li>
            <li>What happens if my pet gets injured or becomes sick?</li>
            <li>My pet requires daily medication.  Can you safely handle this?</li>
            <li>What else are your overnight PetPros able to take care of for us while we are away?</li>
            <li>So what is your Pet Taxi service?</li>
            <li>Are you licensed and bonded?</li>
        </ul>
        <p>
            PetPros Maui is fully licensed, bonded and insured with Business Insurers of the Carolinas. Our liability insurance policy protects you against any damage to your home and/or your pet while in our care. Our bonding insurance policy also protects you against any potential theft.  Additionally, our PetPros have each passed a criminal background check. Please do not hesitate to ask your PetPro about his/her background and/or experience with pets and animals.
        </p>
        <p>
            Why choose  in home pet care  over kenneling/boarding?
        </p>
        <p>
            The benefits of using in your own home service far outweigh kenneling or boarding your pet.  With a PetPro, your pet is receiving one on one attention and care in comfortable surroundings with familiar scents and sounds.  Pets can become ill or injured at a boarding facility where they are surrounded by unfamiliar animals and airspace. We care for your pet the same way you would. Keeping their outings, feedings and activities on their usual routine.
        </p>
        <p>
            What about using a neighbor or friend?  That certainly would be cheaper!
        </p>
        <p>
            If your pets are amongst the most important pieces of your life this would be a sad decision. Is your neighbor or friend trained, bonded, insured, criminally cleared?  Are you imposing on someone who does not love or know much about animals but “happy” to do you a favor?  We love and work for people who put their pets first!  PetPros Maui will professionally help you with the safety, health and happiness of your pets.
        </p>
        <p>
            Do you let dogs off leash at the dog park or beach?
        </p>
        <p>
            No.  The safety of your dog is our top priority!  We cannot predict what another dog may do at any given time.  We will not allow your dog to play with dogs other than your own.  Your dog will be allowed to have leash free play in the security of your fenced yard or on a 30 foot leash on your property……
        </p>
        <p>
            What happens if my pet gets injured or becomes sick?
        </p>
        <p>
            If your pets becomes sick or injured during your absence we will attempt to contact you at the numbers you provide.  If we cannot contact you in a reasonable amount of time or if your pets need immediate attention, we will take your pets to the veterinarian listed on your paperwork.  If the veterinarian listed is not available we will seek an alternative veterinarian.
        </p>
        <p>
            My pet requires daily medication.  Can you safely handle this?
        </p>
        <p>
            Absolutely!  All of our PetPros are trained in administering oral medications and im shots.  If you require more complex needs we will assign the appropriate PetPro to your pet.
        </p>
        <p>
            What else are your overnight PetPros able to take care of for us while we are away?
        </p>
        <p>
            You name it!  We can customize a package to suit yours and your pets’ needs.  We can do everything from watering your orchid collection to taking out your opala.
        </p>
        <p>
            So what is your Pet Taxi service?
        </p>
        <p>
            Whether you are on island and can’t make that vet appointment… or on a trip and Fido or Fluffy needs to go to the groomer,…. we have your back!!  Our PetPros will use their own vehicles to assure your pets’  needs are covered.
        </p>

	</div>

{% include 'includes/footer_partners.html' %}