{% include 'includes/header.html' %}
		<div class="banner homepage">
			<div>
				<span><img src="{{assets_img}}slide_1.jpg" alt="The neighbor doesn't love us like our PetPro does!"></span>
				<span><img src="{{assets_img}}slide_2.jpg" alt="All PetPros Maui profits are donated to Maui 501c3 non-profit animal welfare organizations."></span>
				<span><img src="{{assets_img}}slide_4.jpg" alt="Our PetPros are Pet CPR and First Aid certified!"></span>
				<span><img src="{{assets_img}}slide_5.jpg" alt="Our PetPros are bonded, insured, and criminal background cleared."></span>
                <span><img src="{{assets_img}}slide_6.jpg" alt="We love our home and our familiar routines!"></span>
                <span><img src="{{assets_img}}slide_7.jpg" alt="At home I am safe from exposure to illness and other animals."></span>

            </div>
		</div>

		<div class="content">
			<div class="intro">
				<img class="f-right" src="{{assets_img}}puppy.jpg" alt="">

				<h1>{{heading}}</h1>
				<h2>{{sub_heading}}</h2>
                {{intro}}
			</div>

			<div class="row">
				<div class="column f-left">
					<h1>It’s Safer</h1>

					<dl>
						<dt>We are Pet CPR Certified</dt>
						<dd>All PetPros are pet CPR and first aid certified, unlike a neighbor or a friend.</dd>
						<dt>Insured, Bonded, and Cleared</dt>
						<dd>All PetPros are fully insured, bonded, and criminal background cleared for your pet and home protection.</dd>
						<dt>A kennel can be dangerous</dt>
						<dd>Dog and cat bites and scratches from strange animals are no fun! And neither are cages!</dd>
					</dl>
				</div>

				<div class="column f-right">
					<h1>It’s Healthier</h1>

					<dl>
						<dt>Strange place, strange illness</dt>
						<dd>Strange places with strange animals and closed environments can spread illness.</dd>
						<dt>Stress away from home</dt>
						<dd>Cages, barking, unfamiliar routines can cause great stress for pets leading to reduced immune systems and potential harmful behaviors.</dd>
						<dt>No place like home!</dt>
						<dd>Familiar diet and routines makes for a safe, happy and healthy pet!</dd>
					</dl>
				</div>
			</div><!--/.row-->

			<div class="petServices row">

				<img src="{{assets_img}}big-cat.jpg" alt="" class="big-cat">
				<img src="{{assets_img}}small-cat.jpg" alt="" class="small-cat">

				<h1>Professional Pet Services</h1>
				<h2>Our PetPros are Pet Professionals!</h2>
				<p>We are professionals in the pet industry including vet technicians, dog trainers, livestock specialists, working dog handlers and more!

                    How can we help you with your pets when you can't be there for them? We offer dog and cat sitting, dog walking, an our in home pet sitting in
                    an excellent alternative to a boarding kennel on Maui.

                </p>

				<div class="circles">

					<div class="circle c3 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content"><a href="/services/#play-visits">
								<img src="{{assets_img}}img1.jpg" alt="Dog Walking">
								<span>play visits</span>
							</a></div>
						</div>
					</div>

					<div class="circle c2 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content"><a href="/services/#overnights">
								<img src="{{assets_img}}img2.jpg" alt="Pet and House Sitting">
								<span>overnights</span>
							</a></div>
						</div>
					</div>

					<div class="circle c1 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content"><a href="/services/#pet-taxi">
								<img src="{{assets_img}}img3.jpg" alt="Dog Daycare">
								<span>pet taxi</span>
							</a></div>
						</div>
					</div>

				</div>

				<img src="{{assets_img}}dog.jpg" alt="" class="clear dog">
				<img src="{{assets_img}}turtle.jpg" alt="" class="turtle">

				<h2 class="f-right">Ask about our custom pet sitting services</h2>
			</div><!--/.petServices-->

{% include 'includes/footer_partners.html' %}