<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="index.html" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				<li><a href="services.html">Services</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="articles.html">Articles</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div class="banner homepage">
			<img src="../assets/img/homepage-banner.jpg" alt="">
			<div class="hover-banner">
				<div class="bubble">
					<p>The neighbor doesn’t love us like our PetPro does!</p>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="text-left">
				<h1>Why PetPros Maui?</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#" class="read-more">Read more</a></p>
			</div>
			<img class="f-right puppy" src="../assets/img/puppy.jpg" alt="">

			<div class="column f-left clear">
				<h1>It’s Safer</h1>
				<h2><img src="../assets/img/ul-li.jpg" alt=""> We are Pet CPR Certified</h2>
				<p>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</p>

				<h2><img src="../assets/img/li-ul.jpg" alt=""> A kennel can be dangerous</h2>
				<p>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</p>

				<h2><img src="../assets/img/ul-li.jpg" alt=""> We are Pet CPR Certified</h2>
				<p>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</p>							
			</div>		

			<div class="column f-right">
				<h1>It’s Healthier</h1>
				<h2><img src="../assets/img/ul-li.jpg" alt=""> We are Pet CPR Certified</h2>
				<p>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</p>

				<h2><img src="../assets/img/li-ul.jpg" alt=""> A kennel can be dangerous</h2>
				<p>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</p>

				<h2><img src="../assets/img/ul-li.jpg" alt=""> We are Pet CPR Certified</h2>
				<p>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</p>								
			</div>			

			<img src="../assets/img/pig.jpg" width="" height="" alt="" class="f-right clear pig">
			<img src="../assets/img/small-cat.jpg" width="" height="" alt="" class="f-left small-cat">
			<img src="../assets/img/big-cat.jpg" width="" height="" alt="" class="f-left big-cat clear">

			<div class="text-right">
				<h1>Professional Pet Services</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#" class="read-more">Read more</a></p>
			</div>		

			<div class="circles">
				<div class="circle c1">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="../assets/img/img3.jpg" alt="">
							<span>pet taxi</span>
						</div>
					</div>
				</div>

				<div class="circle c2">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="../assets/img/img2.jpg" alt="">
							<span>overnights</span>
						</div>
					</div>
				</div>

				<div class="circle c3">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="../assets/img/img1.jpg" alt="">
							<span>work &amp; play</span>
						</div>
					</div>
				</div>
			</div>	

			<img src="../assets/img/dog.jpg" width="135" height="216" alt="" class="clear f-left dog">
			<img src="../assets/img/turtle.jpg" width="169" height="87" alt="" class="f-left turtle">

			<h2 class="f-right">Ask about our custom services</h2>

			<div class="text-left clear">
				<h1>Affiliations &amp; Memberships</h1>
				<h2>Nationally recognized professional organizations.</h2>
				<p>PetPros Maui’s professional pet services include animals of all types from <a href="#">armadillos</a> to zebras. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#" class="read-more">Read more</a></p>
			</div>
			<img class="f-right parrot" src="../assets/img/parrot.jpg" alt="">			
		</div>

		<div class="footer">
			<div class="footer-links">
				<a href="#"><img src="../assets/img/f1.jpg" width="167" height="80" alt=""></a>
				<a href="#"><img src="../assets/img/f2.jpg" width="99" height="80" alt=""></a>
				<a href="#"><img src="../assets/img/f3.jpg" width="280" height="80" alt=""></a>
				<a href="#"><img src="../assets/img/f4.jpg" width="156" height="80" alt=""></a>
				<a href="#"><img src="../assets/img/f5.jpg" width="148" height="80" alt=""></a>

				<p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>

				<h1>Give us a call  808-281-7075</h1>
			</div>

			<ul class="footer-menu">
				<li><a href="#">Services</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>
	
	<script type="text/javascript" src="../assets/js/fonts.js"></script>
</body>
</html>