<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{assets_css}}style.css">
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="/" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				{% include 'includes/menu.html' %}
			</ul>
		</div>

		<div class="banner homepage">
			<div>
				<span><img src="{{assets_img}}slide_1.jpg" alt=""></span>
				<span><img src="{{assets_img}}slide_2.jpg" alt=""></span>
				<span><img src="{{assets_img}}slide_3.jpg" alt=""></span>
				<span><img src="{{assets_img}}slide_4.jpg" alt=""></span>
				<span><img src="{{assets_img}}slide_5.jpg" alt=""></span>
				<span><img src="{{assets_img}}slide_6.jpg" alt=""></span>
			</div>
		</div>

		<div class="content">
			<div class="intro">
				<img class="f-right" src="{{assets_img}}puppy.jpg" alt="">

				<h1>Why PetPros Maui?</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#" class="read-more">Read more</a></p>
			</div>

			<div class="row">
				<div class="column f-left">
					<h1>It’s Safer</h1>

					<dl>
						<dt>We are Pet CPR Certified</dt>
						<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>
						<dt>A kennel can be dangerous</dt>
						<dd>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</dd>
						<dt>We are Pet CPR Certified</dt>
						<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>
					</dl>
				</div>

				<div class="column f-right">
					<h1>It’s Healthier</h1>

					<dl>
						<dt>We are Pet CPR Certified</dt>
						<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>
						<dt>A kennel can be dangerous</dt>
						<dd>Dog bites and cat scratches are no fun. CPR certified and can administer First Aid in the event</dd>
						<dt>We are Pet CPR Certified</dt>
						<dd>Each staff member of PetPros Maui is Animal CPR certified and can administer First Aid in the event</dd>
					</dl>
				</div>
			</div><!--/.row-->

			<div class="petServices row">

				<img src="{{assets_img}}big-cat.jpg" alt="" class="big-cat">
				<img src="{{assets_img}}small-cat.jpg" alt="" class="small-cat">

				<h1>Professional Pet Services</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#" class="read-more">Read more</a></p>

				<div class="circles">
					<div class="circle c1 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content">
								<img src="{{assets_img}}img3.jpg" alt="">
								<span>pet taxi</span>
							</div>
						</div>
					</div>

					<div class="circle c2 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content">
								<img src="{{assets_img}}img2.jpg" alt="">
								<span>overnights</span>
							</div>
						</div>
					</div>

					<div class="circle c3 hvr-grow-rotate">
						<div class="inner-circle">
							<div class="circle-content">
								<img src="{{assets_img}}img1.jpg" alt="">
								<span>work &amp; play</span>
							</div>
						</div>
					</div>
				</div>

				<img src="{{assets_img}}dog.jpg" alt="" class="clear dog">
				<img src="{{assets_img}}turtle.jpg" alt="" class="turtle">

				<h2 class="f-right">Ask about our custom services</h2>
			</div><!--/.petServices-->

			<div class="affiliations row">
				<img class="f-right" src="{{assets_img}}parrot.jpg" alt="">

				<h1>Affiliations &amp; Memberships</h1>
				<h2>Nationally recognized professional organizations.</h2>
				<p>PetPros Maui’s professional pet services include animals of all types from <a href="#">armadillos</a> to zebras. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#" class="read-more">Read more</a></p>
			</div>

		</div>

		<div class="footer">
			<div class="footer-links">
				<div class="slider">
					<a href="#"><img src="{{assets_img}}f1.jpg" width="167" height="80" alt=""></a>
					<a href="#"><img src="{{assets_img}}f2.jpg" width="99" height="80" alt=""></a>
					<a href="#"><img src="{{assets_img}}f3.jpg" width="280" height="80" alt=""></a>
					<a href="#"><img src="{{assets_img}}f4.jpg" width="156" height="80" alt=""></a>
					<a href="#"><img src="{{assets_img}}f5.jpg" width="148" height="80" alt=""></a>
				</div>

				<p>Licensed - Bonded - Insured - Certified in Pet First Aid</p>

				<h1>Give us a call  808-281-7075</h1>
			</div>

			<ul class="footer-menu">
				{% include 'includes/footer_menu.html' %}
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>

	<script type="text/javascript" src="{{assets_js}}jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{assets_js}}fonts.js"></script>
	<script type="text/javascript" src="{{assets_js}}jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="{{assets_js}}script.js"></script>
</body>
</html>