<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PetPros Maui | Professional care for your pets and home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{assets_css}}style.css">
    <script type="text/javascript" src="{{assets_js}}fonts.js"></script>
</head>

<body>

	<div class="wrapper">
		<div class="header">
			<a href="/" class="logo"></a>

			<h1>Give us a call  808-281-7075</h1>

			<ul class="menu">
				{% include 'includes/menu.html' %}
			</ul>
		</div>

		<div class="pagetitle">
			<h1>services</h1>
		</div>
		
		<div class="separator"></div>

		<div class="content">
			<div class="text-left">
				<h1>Professional Pet Services</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			<img class="f-right puppy" src="{{assets_img}}goat.jpg" alt="">
	
			<div class="circles-center">
				<div class="circle c1">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="{{assets_img}}img3.jpg" alt="">
							<span>pet taxi</span>
						</div>
					</div>
				</div>

				<div class="circle c2">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="{{assets_img}}img2.jpg" alt="">
							<span>overnights</span>
						</div>
					</div>
				</div>

				<div class="circle c3">
					<div class="inner-circle">
						<div class="circle-content">
							<img src="{{assets_img}}img1.jpg" alt="">
							<span>work &amp; play</span>
						</div>
					</div>
				</div>
			</div>	
			
			<h2 class="services-custom lightblue">Custom services are also available</h2>
            
			<div class="text-left-2-3">
				<h1>Walk & Play</h1>
				<h2>PetPros Maui will care for pets of</h2>
				<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
</p>
			</div>
			<img class="f-right image-1-3" src="{{assets_img}}dog_home.jpg" alt="">
			
			<h2 class="services-include darkblue">Walk & Play visits include any of the following:</h2>
			
			<div class="column f-left">
				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Walking</h2>
				<p>We will take your furry friend for a stroll around the block</p>

				<h2><img src="{{assets_img}}li-ul.jpg" alt=""> Playing</h2>
				<p>Does Fido love catch, frisbee, or laser tag? Let’s do all 3!</p>

				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Medications</h2>
				<p>We will administer your pets medications as prescribed by you.</p>							
			</div>		

			<div class="column f-right">
				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Brushing</h2>
				<p>We’ll give your dog a brush and let him comb our hair.</p>

				<h2><img src="{{assets_img}}li-ul.jpg" alt=""> Scoops</h2>
				<p>Picking up after your pet is no problem.</p>

				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Something Special</h2>
				<p>Let us know what your pet loves and we will include it in our visit.</p>								
			</div>			
			
			<div class="top-30">
				<div class="text-left-1-3">
					<h2>Home visits pricing:</h2>
				</div>
				<div class="text-left-2-3">
					<p class="text-large">$30/ half hour minimum. $45/ hour.</p>
					<p>Packages of 10 can be purchased at a discounted rate.</p>
				</div>
			</div>
			
			<div class="separator-small"></div>
			
			<img class="image-1-3 f-left" src="{{assets_img}}dogs_cat_sleep.jpg" alt="">
			
			<div class="text-left-2-3 pad-left">
				<h1>Overnights</h1>
				<h2>Extended Play, Sit, and Home Secure</h2>
				<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			
			<h2 class="services-include darkblue">Overnights are 12 hours minimum and include any of the following, both morning and evening:</h2>
			
			<div class="column f-left">
				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Walking</h2>
				<p>We will take your furry friend for a stroll around the block</p>

				<h2><img src="{{assets_img}}li-ul.jpg" alt=""> Playing</h2>
				<p>Does Fido love catch, frisbee, or laser tag? Let’s do all 3!</p>

				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Medications</h2>
				<p>We will administer your pets medications as prescribed by you.</p>							
			</div>		

			<div class="column f-right">
				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Brushing</h2>
				<p>We’ll give your dog a brush and let him comb our hair.</p>

				<h2><img src="{{assets_img}}li-ul.jpg" alt=""> Scoops</h2>
				<p>Picking up after your pet is no problem.</p>

				<h2><img src="{{assets_img}}ul-li.jpg" alt=""> Something Special</h2>
				<p>Let us know what your pet loves and we will include it in our visit.</p>								
			</div>			
			
			<p class="specification"><b><u>Additionally</u> we are ready and happy to take care of house services, such as: newspaper retrieval, turning on/off lights or alarm, mail pickup, watering plants, etc.</b></p>
			
			<div class="top-30">
				<div class="text-left-1-3">
					<h2>Home visits pricing:</h2>
				</div>
				<div class="text-left-2-3">
					<p class="text-large">$30/ half hour minimum. $45/ hour.</p>
					<p>Packages of 10 can be purchased at a discounted rate.</p>
				</div>
			</div>
			
			<p class="specification"><b>Don’t want us to stay over night? We can visit and care for your pets 2 - 4 times a day while you are away.</b></p>
			
			<div class="blank"></div>
			<div class="separator-small"></div>
			
			<div class="text-left-2-3">
				<h1>Pet Taxi</h1>
				<h2>PetPros Maui will care for pets of</h2>
				<p>- Does your pet need to go to the vet, groomer, or have any other pet transportation needs?</p>
				<p>- Are there any errands you wish to have done whlle you are travelling or unavailable? (With pet in our out of car)</p>
			</div>
			<img class="f-right image-1-3" src="{{assets_img}}dog_taxi.jpg" alt="">
			<p class="text-full">Our Petpros will use their own vehicle, which they are familiar with, that includes a pet restraint or secure kennel.</p>
			
			<div class="blank"></div>
			<div class="text-left-1-3">
					<h2>Pet Taxi Pricing:</h2>
				</div>
				<div class="text-left-2-3">
					<p class="text-large">$0.57/mile plus $40/hour</p>
				</div>
			
			<div class="blank"></div>
			<div class="separator-small"></div>
			
			<div class="text-left-full">
				<h1>Custom Packages</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>
			
		</div>
		

		<div class="footer">
			<div class="footer-links">
				<h1 class="large-call">Give us a call  808-281-7075</h1>
			</div>

			<ul class="footer-menu">
				<li><a href="#">Services</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="copyright">
		<p class="f-left">Copyright Forever PetPros Maui - Terms of Service - Privacy Policy</p>
		<p class="f-right">This website was Made on Maui</p>
	</div>

</body>
</html>