{% include 'includes/header.html' %}

		<div class="pagetitle">
			<h1>{{name}}</h1>
		</div>

		<div class="content services_page">

			<img class="f-right" src="{{assets_img}}goat.jpg" alt="">

			<h1>{{heading}}</h1>
			<h2>{{sub_heading}}</h2>
                {{intro}}

			<div class="circles row">
                <div class="circle c3 hvr-grow-rotate">
                    <div class="inner-circle">
                        <div class="circle-content"><a href="#play-visits">
                            <img src="{{assets_img}}img1.jpg" alt="PetPros Play Visit Service">
                            <span>play visits</span>
                        </a></div>
                    </div>
                </div>

				<div class="circle c2 hvr-grow-rotate">
					<div class="inner-circle">
						<div class="circle-content"><a href="#overnights">
							<img src="{{assets_img}}img2.jpg" alt="PetPros Overnight Service">
							<span>overnights</span>
						</a></div>
					</div>
				</div>

                <div class="circle c1 hvr-grow-rotate">
                    <div class="inner-circle">
                        <div class="circle-content"><a href="#pet-taxi">
                            <img src="{{assets_img}}img3.jpg" alt="PetPros Pet Taxi Service">
                            <span>pet taxi</span>
                        </a></div>
                    </div>
                </div>

			</div>

			<h2 class="services-custom lightblue"><a href="#custom">Custom services are also available</a></h2>

            <a name="play-visits"></a>

            <hr/>

			<img class="f-right border" src="{{assets_img}}dog_home.jpg" alt="">
			<h1>Play Visits</h1>
			<h2>PetPros love to play!</h2>
            <p>For the busy and loving pet owner who can't be there for their pet as much as they would like to be!</p>


			<h2 class="services-include darkblue">Play Visits include any of the following:</h2>

			<dl class="double-col">
				<dt>Playing or walking</dt>
				<dd>Let us know what Fido or Fluffy loves doing!</dd>
				<dt>Brushing</dt>
				<dd>A simple brushing or comb out? How fun!</dd>
				<dt>Feeding</dt>
				<dd>Just give us instructions and timing!</dd>
				<dt>Scoops</dt>
				<dd>We do that well either in the yard, litter box, or pad!</dd>
				<dt>Medications</dt>
				<dd>Absolutely!  We want Bosco and Belinda healthy!</dd>
				<dt>Something Special?</dt>
				<dd>We LOVE that!  Let us know what your pet's favorite fun is that will comfort him while you are away</dd>
			</dl>

            <div class="priceBox">
                <span class="label">Play Visit pricing:</span>
                <ul>
                    <li>
                        Minimum visit 30 minutes (play package of 10) $30.00 each.
                        <small>Individual visits $32.00</small>
                    </li>
                    <li>
                        1 hour (play package of 10) $40.00 each
                        <small>Individual visits $42.00</small>
                    </li>
                </ul>
            </div>

            <a name="overnights"></a>

            <hr/>

			<img class="f-left border" src="{{assets_img}}dogs_cat_sleep.jpg" alt="">

			<h1>Overnights</h1>
			<h2>Extended Play, Sit, and Home Secure</h2>

            <p><strong>Traveling?</strong> We can do sleepovers providing longer companionship with your pets and with added home services and security.</p>

			<h2 class="services-include darkblue">Overnights are a minimum of 12 hours including any or all of the following, both morning and evening:</h2>
            <dl class="double-col">
                <dt>Playing or walking</dt>
                <dd>Let us know what Fido or Fluffy loves doing!</dd>
                <dt>Brushing</dt>
                <dd>A simple brushing or comb out? How fun!</dd>
                <dt>Feeding</dt>
                <dd>Just give us instructions and timing!</dd>
                <dt>Scoops</dt>
                <dd>We do that well either in the yard, litter box, or pad!</dd>
                <dt>Medications</dt>
                <dd>Absolutely!  We want Bosco and Belinda healthy!</dd>
                <dt>Something Special?</dt>
                <dd>We LOVE that!  Let us know what your pet's favorite fun is that will comfort him while you are away</dd>
            </dl>


			<p class="specification"><b><u>Additionally</u> we are ready and happy to take care of house services, such as: newspaper retrieval, turning on/off lights or alarm, mail pickup, watering plants, etc.</b></p>

			<div class="priceBox">
				<span class="label">Overnights pricing:</span>
				<ul>
                    <li>
                        5 or more evenings  $98.00 per evening.
                    </li>
                    <li>
                        1 to 4 evenings $105.00 per evening.
    				</li>
                </ul>
			</div>

			<p><strong>Don’t want us to stay over night? We can visit and care for your pets 2 - 4 times a day while you are away.</strong></p>

            <a name="pet-taxi"></a>

			<hr/>

			<img class="f-right border" src="{{assets_img}}dog_taxi.jpg" alt="">
			<h1>Pet Taxi</h1>
			<h2>Duke or Daisy need a ride?</h2>
			<p>Does your pet need to go to the vet, groomer, or have any other pet transportation needs?</p>
			<p> Are there any errands you wish to have done while you are travelling or unavailable? (With pet in or out of car)</p>
			<p>Our Petpros will use their own vehicle, which they are familiar with, that includes a pet restraint or secure kennel.</p>

            <div class="priceBox">
				<span class="label">Pet Taxi Pricing:</span>
                <ul>
				    <li>$0.50/mile plus $40/hour (or calculated fraction if less)</li>
                </ul>
			</div>

            <a name="custom"></a>

            <hr/>

			<div class="text-left-full">
				<h1>Custom Packages</h1>
				<h2>Let's woof and purr!</h2>
				<p> What can we do special to help you and your pet family feel safe, secure and happy!</p>
			</div>

{% include 'includes/footer.html' %}