{% include 'includes/header.html' %}

		<div class="pagetitle">
			<h1>services</h1>
		</div>

		<div class="content services_page">

			<img class="f-right" src="{{assets_img}}goat.jpg" alt="">

			<h1>Professional Pet Services</h1>
			<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
			<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>

			<div class="circles row">
				<div class="circle c1 hvr-grow-rotate">
					<div class="inner-circle">
						<div class="circle-content"><a href="#pet-visits">
							<img src="{{assets_img}}img3.jpg" alt="">
							<span>pet taxi</span>
						</a></div>
					</div>
				</div>

				<div class="circle c2 hvr-grow-rotate">
					<div class="inner-circle">
						<div class="circle-content"><a href="#overnights">
							<img src="{{assets_img}}img2.jpg" alt="">
							<span>overnights</span>
						</a></div>
					</div>
				</div>

				<div class="circle c3 hvr-grow-rotate">
					<div class="inner-circle">
						<div class="circle-content"><a href="#play-visits">
							<img src="{{assets_img}}img1.jpg" alt="">
							<span>play visits</span>
						</a></div>
					</div>
				</div>
			</div>

			<h2 class="services-custom lightblue">Custom services are also available</h2>

            <a name="play-visits"></a>

            <hr/>

			<img class="f-right border" src="{{assets_img}}dog_home.jpg" alt="">
			<h1>Play Visits</h1>
			<h2>PetPros Maui will care for pets of</h2>
			<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>


			<h2 class="services-include darkblue">Walk & Play visits include any of the following:</h2>

			<dl class="double-col">
				<dt>Walking</dt>
				<dd>We will take your furry friend for a stroll around the block</dd>
				<dt>Playing</dt>
				<dd>Does Fido love catch, frisbee, or laser tag? Let’s do all 3!</dd>
				<dt>Medications</dt>
				<dd>We will administer your pets medications as prescribed by you.</dd>
				<dt>Brushing</dt>
				<dd>We’ll give your dog a brush and let him comb our hair.</dd>
				<dt>Scoops</dt>
				<dd>Picking up after your pet is no problem.</dd>
				<dt>Something Special</dt>
				<dd>Let us know what your pet loves and we will include it in our visit.</dd>
			</dl>

			<ul class="priceBox">
				<li class="label">Home visits pricing:</li>
				<li>
					$30/ half hour minimum. $45/ hour.
					<small>Packages of 10 can be purchased at a discounted rate.</small>
				</li>
			</ul>

            <a name="overnights"></a>

            <hr/>

			<img class="f-left border" src="{{assets_img}}dogs_cat_sleep.jpg" alt="">

			<h1>Overnights</h1>
			<h2>Extended Play, Sit, and Home Secure</h2>
			<p>Trusting the care of your <a href="#">animals</a> to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>


			<h2 class="services-include darkblue">Overnights are 12 hours minimum and include any of the following, both morning and evening:</h2>
			<dl class="double-col">
				<dt>Walking</dt>
				<dd>We will take your furry friend for a stroll around the block</dd>
				<dt>Playing</dt>
				<dd>Does Fido love catch, frisbee, or laser tag? Let’s do all 3!</dd>
				<dt>Medications</dt>
				<dd>We will administer your pets medications as prescribed by you.</dd>
				<dt>Brushing</dt>
				<dd>We’ll give your dog a brush and let him comb our hair.</dd>
				<dt>Scoops</dt>
				<dd>Picking up after your pet is no problem.</dd>
				<dt>Something Special</dt>
				<dd>Let us know what your pet loves and we will include it in our visit.</dd>
			</dl>


			<p class="specification"><b><u>Additionally</u> we are ready and happy to take care of house services, such as: newspaper retrieval, turning on/off lights or alarm, mail pickup, watering plants, etc.</b></p>

			<ul class="priceBox">
				<li class="label">Home visits pricing:</li>
				<li>
					$30/ half hour minimum. $45/ hour.
					<small>Packages of 10 can be purchased at a discounted rate.</small>
				</li>
			</ul>

			<p><strong>Don’t want us to stay over night? We can visit and care for your pets 2 - 4 times a day while you are away.</strong></p>

            <a name="pet-taxi"></a>

			<hr/>

			<img class="f-right border" src="{{assets_img}}dog_taxi.jpg" alt="">
			<h1>Pet Taxi</h1>
			<h2>PetPros Maui will care for pets of</h2>
			<p>- Does your pet need to go to the vet, groomer, or have any other pet transportation needs?</p>
			<p>- Are there any errands you wish to have done whlle you are travelling or unavailable? (With pet in our out of car)</p>
			<p>Our Petpros will use their own vehicle, which they are familiar with, that includes a pet restraint or secure kennel.</p>

			<ul class="priceBox">
				<li class="label">Pet Taxi Pricing:</li>
				<li>$0.57/mile plus $40/hour</li>
			</ul>

			<hr/>

			<div class="text-left-full">
				<h1>Custom Packages</h1>
				<h2>PetPros Maui will care for pets of all shapes and sizes.</h2>
				<p>Trusting the care of your animals to PetPros Maui’s trained staff is safer and healthier because lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			</div>

		</div>
{% include 'includes/footer.html' %}